.wash {
  background-color: #f1f4f7;
  padding: 36px;
  font-family: system-ui, 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  color: #0a1317;
}

.wash input {
  font-family: system-ui, 'Helvetica', 'Arial', sans-serif;
}

.wash a {
  text-decoration: none;
  color: #0064e0;
}

.content {
  width: 900px;
  margin: auto;
  background: white;
  border: 1px solid #e6eaee;
  padding: 20px 32px;
  box-shadow:
    0px 1px 1px #0000001a,
    0px 2px 8px #0000001a;
  border-radius: 12px;
}

.about {
  min-height: 166px;
}

.about h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

.about-right {
  margin-left: 32px;
  float: right;
  padding: 4px 2px;
}

.about-photo {
  border-radius: 50%;
  height: 120px;
  object-fit: cover;
  object-position: 0 -4px;
  width: 120px;
}

.about-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  gap: 4px;
  margin-left: 8px;
}

.about-icons svg {
  height: 24px;
  color: #000;
}

.about-icons .instagram {
  margin-left: -5px;
}

.publications h4 {
  font-weight: bold;
  margin-bottom: -2px;
}

.publications a:hover {
  text-decoration: underline;
}

.publications > div {
  margin: 12px 0;
}

.reprint-list {
  margin: 0;
  font-size: 18px;
  list-style-type: circle;
}

.newsletter-form {
  display: flex;
  align-items: center;
  background-color: #f1f4f7;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: -8px;
  box-sizing: border-box;
  justify-content: space-between;
}

.newsletter-form-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.newsletter-form-text h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.newsletter-form-subtitle {
  font-size: 14px;
  color: #444;
}

.hidden {
  display: none;
}

.newsletter-form-form button {
  border: 0;
  outline: 0;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  background-color: #147b29;
  border-radius: 8px;
  cursor: pointer;
  height: 36px;
}

.newsletter-form-form input {
  border-radius: 8px;
  color: #000;
  font-size: 16px;
  border: 1px solid #ccd3db;
  height: 36px;
  box-sizing: border-box;
  padding-left: 8px;
  width: 300px;
}

.newsletter-form-form input:hover {
  box-shadow: inset 0 0 0 3px #ccd3db4d;
}

.newsletter-form-form input:focus {
  border-color: #0064e0;
  box-shadow: inset 0px 0px 0px 3px #0171e34d;
  outline: 2px solid #268bd2;
}

#subscribe-form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.newsletter-form-form button:hover,
.newsletter-form-form button:focus {
  background-color: #086d29;
}

.newsletter-form-form button:focus {
  outline: 2px solid #086d29;
  outline-offset: 1px;
}

@media only screen and (max-width: 1024px) {
  .wash {
    margin: 0;
    padding: 0;
  }
  .content {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    background: white;
    border: 0;
    padding: 20px;
  }
  .newsletter-form {
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin-top: 24px;
  }
  .newsletter-form input {
    width: 100%;
  }
  .newsletter-form button {
    align-self: start;
  }
  .newsletter-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
