.wash {
  background-color: #f6f7f9;
  padding: 36px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 21px;
}

.wash a {
  text-decoration: none;
  color: #268bd2;
}

.content {
  width: 800px;
  margin: auto;
  background: white;
  border: 1px solid #eee;
  padding: 20px;
}

.about h1 {
  font-size: 48px;
  margin-top: 0;
}

.about-right {
  margin-left: 32px;
  float: right;
  padding: 4px 2px;
}

.about-photo {
  border-radius: 50%;
  flex-shrink: 0;
  height: 120px;
  object-fit: cover;
  object-position: 0 -4px;
  width: 120px;
}

.about-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.about-icons a:first-child {
  margin-right: 8px;
}

.publications h4 {
  font-weight: bold;
  margin-bottom: -2px;
}

.publications a:hover {
  text-decoration: underline;
}

.publications > div {
  margin: 12px 0;
}

.publications > div > div {
  font-size: 16px;
  color: #444;
}

.reprint {
  margin: 1px 0 0 1px;
}

@media only screen and (max-width: 800px)  {
  .wash {
    margin: 0;
    padding: 0;
  }
  .content {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    background: white;
    border: 0;
    padding: 20px;
  }
}
